* {
    font-family: 'Titillium Web', sans-serif;
    
}

.container {
    width: 93.75%;
    margin: 0 auto;
}
.status {
    display: none;
}
.hamburger {
    display: none;
}

    
@import 'titles.scss';
@import 'header.scss';
@import 'promo.scss';
@import 'about.scss';
@import 'drivers.scss';
@import 'car.scss';
@import 'footer.scss';

.xl_hidden {
    display: none;
}

@import 'media.scss'